@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 28px;
  background: linear-gradient(180deg, #373e44 -100%, #191b1f 100%);
  box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.5);
  max-width: 1728px;
  margin: 0 auto;
}

@layer utilities {
  .custom-glass-effect {
    border-radius: 2.459px;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.05) 100%
      ),
      linear-gradient(
        180deg,
        rgba(40, 40, 40, 0.1) 0%,
        rgba(248, 248, 248, 0.1) 100%
      );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(4.918px);
  }
  .custom-add-button {
    border-radius: 104px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: -0.5px -0.5px 6.9px 0px rgba(255, 255, 255, 0.25),
      9px 10px 7.1px 0px rgba(0, 0, 0, 0.4),
      0px 0px 48.906px 0px rgba(255, 255, 255, 0.05) inset,
      0px 3.26px 3.26px 0px rgba(255, 255, 255, 0.15) inset;
    backdrop-filter: blur(52.27996826171875px);
  }
  .custom-gradient-fill {
    background: linear-gradient(120deg, #303439 12.4%, #161718 80.96%);
  }

  .custom-drop-shadow {
    filter: drop-shadow(4px 5px 10px #101213) drop-shadow(-5px -3px 10px #50769c);
  }
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  color: #a3adb2;
  padding-top: 17px;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  background-color: black;
  border-radius: 30px;
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 10px 60px;
  cursor: pointer;
  font-weight: 500;
}

.react-tabs__tab--selected {
  background: #28292f;
  color: white;
  border-radius: 15px;
  font-weight: 500;
  font-size: medium;
  box-shadow: -8.433px -16.867px 50.6px -16.867px #485B71, 13.493px 16.867px 67.467px 8.433px #0A0A0A;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
}

.react-tabs__tab-panel {
  display: none;
  padding: 35px 0;
}

.react-tabs__tab-panel--selected {
  display: block;
}
